@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Quicksand&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
}

/* Navbar */
.navbar-brand {
    font-family: 'Courgette', cursive;
    font-size: 32px;
}

.dropdown {
    font-family: 'Courgette', cursive;
}

.nav-link {
    text-transform: uppercase;
}

.bar {
    margin-right: 16px;
    transition-duration: .4s;
    background: rgb(18, 31, 33);
    padding-left: 30px;
    color: white;
    cursor: pointer;
}

.active,
.bar:hover {
    background: rgb(255, 255, 255);
    padding-left: 25px;
    color: rgb(4, 3, 3);
}

table {
    border-collapse: collapse;
    width: 50%;
}

.right {
    text-align: right;
}