@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Quicksand&display=swap');

/* Navbar */
.navbar-brand {
    font-family: 'Courgette', cursive;
    font-size: 32px;
}

.dropdown {
    font-family: 'Courgette', cursive;
}

.nav-link {
    text-transform: uppercase;
}

/* content home */
* {
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    text-align: center;
    box-sizing: border-box;
}

.col {
    cursor: pointer;
}

/* Footer */
.sticky-footer {
    position: relative;
    padding: 10px;
    left: 0;
    bottom: 0px;
    width: 100%;
}