@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Quicksand&display=swap');

/* Navbar */
.navbar-brand {
    font-family: 'Courgette', cursive;
    font-size: 32px;
}

.dropdown {
    font-family: 'Courgette', cursive;
}

.nav-link {
    text-transform: uppercase;
}

.active,
.bar:hover {
    padding-left: 25px;
    color: rgb(4, 3, 3);
}

/* content home */
* {
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    text-align: center;
    box-sizing: border-box;
}

.col {
    cursor: pointer;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Footer */
.sticky-footer {
    position: relative;
    padding: 10px;
    left: 0;
    bottom: 0px;
    width: 100%;
    margin-top: 40px;
    font-weight: bold;
}