@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Quicksand&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
}

.table {
    text-align: center;
}

h5 {
    font-weight: bold;
}

.card,
.sidebar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Navbar */
.navbar-brand {
    font-family: 'Courgette', cursive;
    font-size: 32px;
}

.dropdown {
    font-family: 'Courgette', cursive;
}

.nav-link {
    text-transform: uppercase;
}

.bar {
    margin-right: 16px;
    transition-duration: .4s;
    background: rgb(18, 31, 33);
    padding-left: 30px;
    color: white;
    cursor: pointer;
}

.active,
.bar:hover {
    background: rgb(255, 255, 255);
    padding-left: 25px;
    color: rgb(4, 3, 3);
}

/* Footer */
.sticky-footer {
    position: relative;
    padding: 10px;
    left: 0;
    bottom: 0px;
    width: 100%;
    margin-top: 40px;
    font-weight: bold;
}